/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.cpcache
/.lein-*
/.nrepl-history
/.nrepl-port
.hgignore
.hg/
*.DS_Store

# VSCode
.calva
.clj-kondo
.lsp

# ClojureScript
.cljs_node_repl/
cljs-test-runner-out/
node_modules/
package-lock.json
package.json
