{:paths ["resources" "src"]
 :deps  {org.clojure/clojure    {:mvn/version "RELEASE"}
         org.clojure/core.match {:mvn/version "0.3.0"}
         cheshire/cheshire      {:mvn/version "5.8.1"}
         luposlip/json-schema   {:mvn/version "0.1.6"}
         aysylu/loom            {:mvn/version "1.0.2"}
         expound/expound        {:mvn/version "0.7.2"} 
         com.yetanalytics/xapi-schema ;; Latest commit: 1/29/21
         {:git/url "https://github.com/yetanalytics/xapi-schema"
          :sha     "0e552227e74913d1b35dfa648407b9a9ac4b6b00"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps  {org.clojure/test.check {:mvn/version "RELEASE"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner ;; Latest commit: 9/30/20
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha     "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts  ["-m" "cognitect.test-runner"
                "-d" "test"]}}
 :mvn/repos {"jitpack" {:url "https://jitpack.io"}}}
