{:paths ["resources" "src/main"]
 :deps  {org.clojure/clojure          {:mvn/version "1.10.2"}
         org.clojure/clojurescript    {:mvn/version "1.10.764"
                                       :exclusions  [org.clojure/data.json]}
         org.clojure/core.match       {:mvn/version "0.3.0"}
         org.clojure/data.json        {:mvn/version "1.0.0"} ; clj only
         expound/expound              {:mvn/version "0.8.9"}
         com.yetanalytics/xapi-schema {:mvn/version "1.2.0"
                                       :exclusions  [org.clojure/clojure
                                                     org.clojure/clojurescript
                                                     org.clojure/data.json]}}
 :aliases
 {:test
  {:extra-paths ["dev-resources" "src/test"]
   :extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}
                 orchestra/orchestra    {:mvn/version "2021.01.01-1"}}}
  :dev
  {:extra-paths ["dev-resources"]
   :extra-deps  {cider/piggieback {:mvn/version "0.5.2"}}}
  :runner-clj
  {:extra-deps {com.cognitect/test-runner ;; Latest commit: 9/30/20
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha     "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts  ["-m" "cognitect.test-runner"
                "-d" "src/test"]}
  :runner-cljs
  {:extra-deps {olical/cljs-test-runner {:mvn/version "3.8.0"
                                         :exclusions  [org.clojure/clojurescript
                                                       org.clojure/data.json]}}
   :main-opts  ["-m" "cljs-test-runner.main"
                "-d" "src/test"
                "-c" "build.edn"]}}}
